name: Python CI
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stack: [api, web_app]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        working-directory: ${{ matrix.stack }}
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install ruff pytest pytest-asyncio

      - name: Run Ruff
        working-directory: ${{ matrix.stack }}
        run: ruff check .

      - name: Run tests
        # working-directory: ${{ matrix.stack }}
        run: pytest
        env:
          PYTHONPATH: ${{ github.workspace }}/${{ matrix.stack }}
          # PYTHONPATH: ${{ github.workspace }}
  build:
      needs: test
      runs-on: ubuntu-latest
      permissions:
        contents: read
        packages: write
      steps:
        - uses: actions/checkout@v4
        
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
          
        - name: Build and push API image
          uses: docker/build-push-action@v5
          with:
            context: ./api
            file: ./api/Dockerfile
            push: true
            tags: |
              ghcr.io/${{ github.repository_owner }}/sample_api:latest
              ghcr.io/${{ github.repository_owner }}/sample_api:${{ github.sha }}
  
        - name: Build and push UI image
          uses: docker/build-push-action@v5
          with:
            context: ./web_app
            file: ./web_app/Dockerfile
            push: true
            tags: |
              ghcr.io/${{ github.repository_owner }}/sample_ui:latest
              ghcr.io/${{ github.repository_owner }}/sample_ui:${{ github.sha }}